doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" type="text/css" href="./resources/css.css")
		link(rel="stylesheet" type="text/css" href="./resources/doc.css")
	body.v-box
		mixin _makeAPILinks(items)
			.ui.list
				each item in items
					- var href="./"+item+".html"
					a.item.data-item(class= item === title ? "active" : "" href=href)= item

		.ui.inverted.menu.doc-header.box
			.ui.header.item="Cola UI API - " + version
			.right.menu
				a.item#showSidebarBtn
					i.content.icon
		.flex-box
			.row.doc-body
				.medium-3.large-2.columns#toc
					.ui.icon.input.fluid.inverted.transparent
						input#searchInput(type="text" placeholder="搜索...")
						i.search.icon
					+_makeAPILinks(aliasNames)

				.small-12.medium-9.large-10.columns#doc-content
					block content

		.ui.layer#sidebar(c-widget="layer")
			.v-box
				.box
					.ui.menu.inverted
						a.item.icon#backButton
							i.angle.left.icon
						.item
							.ui.icon.input.transparent.inverted
								input#sidebarSearchInput(type="text" placeholder="搜索...")
						a.item.icon#searchButton
							i.search.icon
				.flex-box
					div
						+_makeAPILinks(aliasNames)

	script(src="./resources/javascript.js")
	script(src="./resources/doc.js")
